<div class="main-content">
    <div class="container-fluid">
        <div class="col-md-12">
            <button mat-button class="crx-button-primary" (click)="goBack()">
                <i class="material-icons crx-button-primary">keyboard_backspace</i>
            </button>
            <button mat-button class="crx-button-primary" (click)="createContact()">
                <i class="material-icons crx-button-primary">save</i>
            </button>
            <div class="card">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">contacts</i>
                    </div>
                    <h4 class="card-title">{{title}}</h4>
                </div>
                <div class="card-content">
                    <div class="content table-responsive">
                        <br>
                        <mat-tab-group>
                            <mat-tab label="Datos Generales">
                                <div style="padding: 1%">
                                    <form *ngIf="myContact">
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <!-- SECCION 1 -->
                                            </div>
                                            <div class="col-sm-4">
                                                <!-- IMAGE -->
                                                <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                                    <div class="fileinput-new thumbnail">
                                                        <img src="{{imageName}}" alt="...">
                                                    </div>
                                                    <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                                    <div>
                                                        <span class="btn btn-rose btn-round btn-file">
                                                            <span class="fileinput-new">Seleccionar Imagen</span>
                                                            <span class="fileinput-exists">Cambiar</span>
                                                            <!-- <input type="file" name="..." /> -->
                                                            <input type="file" id="btnUpload" value="Upload" (change)="getFile($event)" class="upload" />
                                                        </span>
                                                        <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput">
                                                            <i class="fa fa-times"></i> Remove</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <!-- Seccion 3 -->
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <mat-form-field class="example-full-width">
                                                    <input type="text" matInput placeholder="Identidad" value="" name="identity" [(ngModel)]='myContact.identity'>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-4">
                                                <mat-form-field class="example-full-width">
                                                    <input type="text" matInput placeholder="Nombres" value="" name="firstName" [(ngModel)]='myContact.firstName'>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-4">
                                                <mat-form-field class="example-full-width">
                                                    <input type="text" matInput placeholder="Apellidos" value="" name="lastName" [(ngModel)]='myContact.lastName'>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput [matDatepicker]="fechaNacimiento" placeholder="Fecha Nacimiento" name="fechaNacimiento" [(ngModel)]="myContact.birthday">
                                                    <mat-datepicker-toggle matSuffix [for]="fechaNacimiento"></mat-datepicker-toggle>
                                                    <mat-datepicker #fechaNacimiento></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-4">
                                                <!-- Selector Genero-->
                                                <mat-form-field class="example-full-width">
                                                    <mat-select placeholder="Genero" [(ngModel)]="myContact.gender" name="gender">
                                                        <mat-option *ngFor="let mon of gender" [value]="mon.value">
                                                            {{mon.viewValue}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-4">
                                                <!-- Selector Country-->
                                                <mat-form-field class="example-full-width">
                                                    <mat-select placeholder="País" [(ngModel)]="myContact.nationality" name="nationality">
                                                        <mat-option *ngFor="let mon of nationality" [value]="mon.value">
                                                            {{mon.viewValue}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <!-- Selector Estado civil-->
                                                <mat-form-field class="example-full-width">
                                                    <mat-select placeholder="Estado civil" [(ngModel)]="myContact.maritalStatus" name="maritalStatus">
                                                        <mat-option *ngFor="let mon of maritalStatus" [value]="mon.value">
                                                            {{mon.viewValue}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-4">
                                                <!-- Selector Status-->
                                                <mat-form-field class="example-full-width">
                                                    <mat-select placeholder="Estado" [(ngModel)]="myContact.status" name="status">
                                                        <mat-option *ngFor="let mon of status" [value]="mon.value">
                                                            {{mon.viewValue}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-4">
                                                <!-- Selector Profession-->
                                                <mat-form-field class="example-full-width">
                                                    <input type="text" matInput placeholder="Profesión" value="" name="profession" [(ngModel)]='myContact.profession'>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <!-- <div class="col-sm-6">
                                                <div class="fileUpload btn btn-primary">
                                                    <span>Upload</span>
                                                    <input type="file" id="btnUpload" value="Upload" (change)="fileChange($event)" class="upload" />
                                                </div>

                                                <img *ngIf="isUploadBtn" src="{{name}}" style="margin-top:5%;margin-bottom:10%; display:block;margin-left: auto;margin-right:auto"
                                                />
                                            </div> -->
                                        </div>
                                    </form>
                                </div>
                            </mat-tab>
                            <mat-tab label="Curriculum" *ngIf="myContact.ID != 0">
                                <div style="padding: 1%">
                                    <!-- CARD INFORMACION DE CONTACTO -->
                                    <div class="card" style="padding-top: 0%; margin-top: 1%; margin-bottom: 1%; border: 0%">
                                        <div class="card-header card-header-success card-header-icon">
                                            <h4 class="card-title">Información de contacto</h4>
                                        </div>
                                        <div style="padding: 1%">
                                            <form *ngIf="myContact">
                                                <!-- FILA 1 -->
                                                <div class="row">
                                                    <!-- Text Field Email -->
                                                    <div class="col-sm-4">
                                                        <mat-form-field class="example-full-width">
                                                            <input type="text" matInput placeholder="Email" value="" name="email" [(ngModel)]='myContact.email'>
                                                        </mat-form-field>
                                                    </div>
                                                    <!-- Text Field Telefono Primario -->
                                                    <div class="col-sm-4">
                                                        <mat-form-field class="example-full-width">
                                                            <input type="text" matInput placeholder="Teléfono primario" value="" name="telephoneNumberPrimary" [(ngModel)]='myContact.telephoneNumberPrimary'>
                                                        </mat-form-field>
                                                    </div>
                                                    <!-- Text Field Telefono Secundario -->
                                                    <div class="col-sm-4">
                                                        <mat-form-field class="example-full-width">
                                                            <input type="text" matInput placeholder="Teléfono secundario" value="" name="telephoneNumberSecondary" [(ngModel)]='myContact.telephoneNumberSecondary'>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="card" style="padding-top: 0%; margin-top: 1%; margin-bottom: 1%; border: 0%">
                                                <div class="card-header card-header-success card-header-icon">
                                                    <h4 class="card-title">Disponibilidad</h4>
                                                </div>
                                                <div style="padding: 1%">
                                                    <form *ngIf="myContact">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <!-- Selector Schedule -->
                                                                <mat-form-field class="example-full-width">
                                                                    <mat-select placeholder="Disponibilidad Horario" [(ngModel)]="myContact.schedulesAvailable" name="schedulesAvailable">
                                                                        <mat-option *ngFor="let mon of schedulesAvailable" [value]="mon.value">
                                                                            {{mon.viewValue}}
                                                                        </mat-option>
                                                                    </mat-select>
                                                                </mat-form-field>
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <mat-form-field class="example-full-width">
                                                                    <mat-select placeholder="Disponibilidad Viajar" [(ngModel)]="myContact.travelAvailable" name="travelAvailable">
                                                                        <mat-option *ngFor="let mon of schedulesAvailable" [value]="mon.value">
                                                                            {{mon.viewValue}}
                                                                        </mat-option>
                                                                    </mat-select>
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="card" style="padding-top: 0%; margin-top: 1%; margin-bottom: 1%; border: 0%">
                                                <div class="card-header card-header-success card-header-icon">
                                                    <h4 class="card-title">Dato Salarial</h4>
                                                </div>
                                                <div style="padding: 1%">
                                                    <form *ngIf="myContact">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <!-- Aspiracion salarial -->
                                                                <mat-form-field class="example-full-width">
                                                                    <input type="number" matInput placeholder="Aspiración Salarial" value="" name="wageAspiration" [(ngModel)]='myContact.wageAspiration'>
                                                                </mat-form-field>
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <!-- Selector Negotiable -->
                                                                <mat-form-field class="example-full-width">
                                                                    <mat-select placeholder="Negociable" [(ngModel)]="myContact.negotiable" name="negotiable">
                                                                        <mat-option *ngFor="let mon of schedulesAvailable" [value]="mon.value">
                                                                            {{mon.viewValue}}
                                                                        </mat-option>
                                                                    </mat-select>
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card" style="padding-top: 0%; margin-top: 1%; margin-bottom: 1%; border: 0%">
                                        <div class="card-header card-header-success card-header-icon">
                                            <h4 class="card-title">Localización</h4>
                                        </div>
                                        <div style="padding: 1%">
                                            <form *ngIf="myContact">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <!-- Selector States -->
                                                        <mat-form-field class="example-full-width">
                                                            <mat-select placeholder="Departamento" [(ngModel)]="myContact.state" name="state">
                                                                <mat-option *ngFor="let mon of states" [value]="mon.value">
                                                                    {{mon.viewValue}}
                                                                </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </div>
                                                    <!-- Text Field Level-->
                                                    <div class="col-sm-4">
                                                        <mat-form-field class="example-full-width">
                                                            <input type="text" matInput placeholder="Ciudad" value="" name="city" [(ngModel)]='myContact.city'>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <mat-form-field class="example-full-width">
                                                            <input type="text" matInput placeholder="Dirección" value="" name="address" [(ngModel)]='myContact.address'>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <!--  -->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="card" style="padding-top: 0%; margin-top: 1%; margin-bottom: 1%; border: 0%">
                                                <div class="card-header card-header-success card-header-icon">
                                                    <h4 class="card-title">Información Académica</h4>
                                                </div>
                                                <div style="padding: 1%">
                                                    <form *ngIf="myContact">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <!-- Selector Academy level-->
                                                                <mat-form-field class="example-full-width">
                                                                    <mat-select placeholder="Nivel educativo" [(ngModel)]="myContact.academyLevel" name="academyLevel">
                                                                        <mat-option *ngFor="let mon of academyLevel" [value]="mon.value">
                                                                            {{mon.viewValue}}
                                                                        </mat-option>
                                                                    </mat-select>
                                                                </mat-form-field>
                                                            </div>
                                                            <!-- Text Field Level-->
                                                            <div class="col-sm-12">
                                                                <mat-form-field class="example-full-width">
                                                                    <input type="text" matInput placeholder="Porcentaje" value="" name="level" [(ngModel)]='myContact.level'>
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="card" style="padding-top: 0%; margin-top: 1%; margin-bottom: 1%; border: 0%">
                                                <div class="card-header card-header-success card-header-icon">
                                                    <h4 class="card-title">Área de Interés</h4>
                                                </div>
                                                <div style="padding: 1%">
                                                    <form *ngIf="myContact">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <mat-form-field class="example-full-width">
                                                                    <mat-select placeholder="Áreas Laborales" [(ngModel)]="categorySelected.ID" name="categories" (selectionChange)="getSubCategories()">
                                                                        <mat-option *ngFor="let mon of categories" [value]="mon.ID">
                                                                            {{mon.name}}
                                                                        </mat-option>
                                                                    </mat-select>
                                                                </mat-form-field>
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <mat-form-field class="example-full-width">
                                                                    <mat-select placeholder="Área de Interés" [(ngModel)]="myContact.interstArea" name="interstArea">
                                                                        <mat-option *ngFor="let mon of subCategories" [value]="mon.ID">
                                                                            {{mon.name}}
                                                                        </mat-option>
                                                                    </mat-select>
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card" style="padding-top: 0%; margin-top: 1%; margin-bottom: 1%; border: 0%">
                                        <div class="card-header card-header-success card-header-icon">
                                            <h4 class="card-title">Experiencia laboral</h4>
                                            <button mat-button class="crx-button-primary" (click)="openDialog()">
                                                <i class="material-icons crx-button-primary">add</i>
                                            </button>
                                        </div>
                                        <div style="padding: 1%">
                                            <mat-table #table [dataSource]="dataSource">
                                                <!-- Nombre Column -->
                                                <ng-container matColumnDef="ID">
                                                    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
                                                    <mat-cell *matCellDef="let element"> {{element.ID}} </mat-cell>
                                                </ng-container>

                                                <!-- Telefono Column -->
                                                <ng-container matColumnDef="Company">
                                                    <mat-header-cell *matHeaderCellDef> Empresa </mat-header-cell>
                                                    <mat-cell *matCellDef="let element"> {{element.company}} </mat-cell>
                                                </ng-container>

                                                <!-- Celular Column -->
                                                <ng-container matColumnDef="functions">
                                                    <mat-header-cell *matHeaderCellDef> Función </mat-header-cell>
                                                    <mat-cell *matCellDef="let element"> {{element.functions}} </mat-cell>
                                                </ng-container>

                                                <!-- Email Column -->
                                                <ng-container matColumnDef="salary">
                                                    <mat-header-cell *matHeaderCellDef> Salario </mat-header-cell>
                                                    <mat-cell *matCellDef="let element"> {{element.salary | currency:'Lps.':true:'1.2-2'}} </mat-cell>
                                                </ng-container>

                                                <!-- Email Column -->
                                                <ng-container matColumnDef="fromString">
                                                    <mat-header-cell *matHeaderCellDef> Desde </mat-header-cell>
                                                    <mat-cell *matCellDef="let element">
                                                        {{element.fromString | date: 'dd/MM/yyyy'}}
                                                    </mat-cell>
                                                </ng-container>

                                                <!-- Email Column -->
                                                <ng-container matColumnDef="until">
                                                    <mat-header-cell *matHeaderCellDef> Hasta </mat-header-cell>
                                                    <mat-cell *matCellDef="let element">
                                                        {{element.until | date: 'dd/MM/yyyy'}}
                                                    </mat-cell>
                                                </ng-container>

                                                <!-- Botones de Editar -->
                                                <ng-container matColumnDef="editar">
                                                    <mat-header-cell *matHeaderCellDef>Editar</mat-header-cell>
                                                    <mat-cell *matCellDef="let pro">
                                                        <button mat-icon-button color="primary" (click)="editLaboralExperience(pro)">
                                                            <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
                                                        </button>
                                                    </mat-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                                            </mat-table>
                                        </div>
                                    </div>
                                    <div class="card" style="padding-top: 0%; margin-top: 1%; margin-bottom: 1%; border: 0%">
                                        <div class="card-header card-header-success card-header-icon">
                                            <h4 class="card-title">Idiomas</h4>
                                            <button mat-button class="crx-button-primary" (click)="addLanguage()">
                                                <i class="material-icons crx-button-primary">add</i>
                                            </button>
                                        </div>
                                        <div style="padding: 1%">
                                            <mat-table #tableL [dataSource]="dataSourceLanguages">
                                                <!-- Nombre Column -->
                                                <ng-container matColumnDef="ID">
                                                    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
                                                    <mat-cell *matCellDef="let element"> {{element.ID}} </mat-cell>
                                                </ng-container>

                                                <!-- Telefono Column -->
                                                <ng-container matColumnDef="Lenguaje">
                                                    <mat-header-cell *matHeaderCellDef> Lenguaje </mat-header-cell>
                                                    <mat-cell *matCellDef="let element"> {{element.lenguage}} </mat-cell>
                                                </ng-container>

                                                <!-- Celular Column -->
                                                <ng-container matColumnDef="Nivel">
                                                    <mat-header-cell *matHeaderCellDef> Nivel </mat-header-cell>
                                                    <mat-cell *matCellDef="let element"> {{element.level}} </mat-cell>
                                                </ng-container>

                                                <!-- Botones de Editar -->
                                                <ng-container matColumnDef="editar">
                                                    <mat-header-cell *matHeaderCellDef>Editar</mat-header-cell>
                                                    <mat-cell *matCellDef="let pro">
                                                        <button mat-icon-button color="primary" (click)="editLanguage(pro)">
                                                            <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
                                                        </button>
                                                    </mat-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumnsLanguages"></mat-header-row>
                                                <mat-row *matRowDef="let row; columns: displayedColumnsLanguages;"></mat-row>
                                            </mat-table>
                                        </div>
                                    </div>
                                    <div class="card" style="padding-top: 0%; margin-top: 1%; margin-bottom: 1%; border: 0%">
                                        <div class="card-header card-header-success card-header-icon">
                                            <h4 class="card-title">Estudios</h4>
                                            <button mat-button class="crx-button-primary" (click)="editStudy()">
                                                <i class="material-icons crx-button-primary">add</i>
                                            </button>
                                        </div>
                                        <div style="padding: 1%">
                                            <mat-table #tableS [dataSource]="dataSourceStudies">
                                                <!-- Nombre Column -->
                                                <ng-container matColumnDef="ID">
                                                    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
                                                    <mat-cell *matCellDef="let element"> {{element.ID}} </mat-cell>
                                                </ng-container>

                                                <!-- Telefono Column -->
                                                <ng-container matColumnDef="study">
                                                    <mat-header-cell *matHeaderCellDef> Estudio </mat-header-cell>
                                                    <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
                                                </ng-container>

                                                <!-- Celular Column -->
                                                <ng-container matColumnDef="institute">
                                                    <mat-header-cell *matHeaderCellDef> Instituto </mat-header-cell>
                                                    <mat-cell *matCellDef="let element"> {{element.institute}} </mat-cell>
                                                </ng-container>

                                                <!-- Celular Column -->
                                                <ng-container matColumnDef="kind">
                                                    <mat-header-cell *matHeaderCellDef> Nivel </mat-header-cell>
                                                    <mat-cell *matCellDef="let element"> {{element.kind}} </mat-cell>
                                                </ng-container>

                                                <!-- Botones de Editar -->
                                                <ng-container matColumnDef="editar">
                                                    <mat-header-cell *matHeaderCellDef>Editar</mat-header-cell>
                                                    <mat-cell *matCellDef="let pro">
                                                        <button mat-icon-button color="primary" (click)="editStudy(pro)">
                                                            <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
                                                        </button>
                                                    </mat-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumnsStudies"></mat-header-row>
                                                <mat-row *matRowDef="let row; columns: displayedColumnsStudies;"></mat-row>
                                            </mat-table>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="Datos extras" *ngIf="myContact.ID != 0"> Datos extras </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="card" style="padding-top: 0%; margin-top: 1%; margin-bottom: 1%; border: 0%">
        <div class="card-header card-header-success card-header-icon">
            <h4 class="card-title">Área de Interés</h4>
        </div>
        <div style="padding: 1%">
            <form *ngIf="myContact">
                <div class="row">
                    <div class="col-sm-12">

                    </div>
                    <div class="col-sm-12">

                    </div>
                </div>
            </form>
        </div>
    </div> -->