<div class="main-content">
  <div class="container-fluid">
    <div class="col-md-12">
      <button mat-button class="crx-button-primary" (click)="goBack()">
        <i class="material-icons crx-button-primary">keyboard_backspace</i>
      </button>
      <button mat-button class="crx-button-primary" (click)="sendEmail()" *ngIf="myEmail.body!= '' && myEmail.password != null">
        <i class="material-icons crx-button-primary">send</i>
      </button>
      <div class="card">
        <div class="card-header card-header-success card-header-icon">
          <div class="card-icon">
            <i class="material-icons">email</i>
          </div>
          <h4 class="card-title">{{title}}</h4>
        </div>
        <div class="card-content">
          <div class="content table-responsive">
            <br>
            <mat-tab-group>
              <mat-tab label="Correo">
                <div style="padding: 1%">

                  <div class="row">
                    <div class="col-md-6">
                      <div class="card" style="padding-top: 0%; margin-top: 1%; margin-bottom: 1%; border: 0%">
                        <div class="card-header card-header-success card-header-icon">
                          <h4 class="card-title">Datos de Envío</h4>
                        </div>
                        <div style="padding: 1%">
                          <form *ngIf="myEmail">
                            <div class="col-sm-12">
                              <mat-form-field class="example-full-width">
                                <input type="email" matInput placeholder="Para" value="" name="to" [(ngModel)]='myEmail.to'>
                              </mat-form-field>
                            </div>
                            <div class="col-sm-12">
                              <mat-form-field class="example-full-width">
                                <input type="email" matInput placeholder="De" value="" name="from" [(ngModel)]='myEmail.from' disabled>
                              </mat-form-field>
                            </div>
                            <div class="col-sm-12">
                              <mat-form-field class="example-full-width">
                                <input type="email" matInput placeholder="CC" value="" name="cc" [(ngModel)]='myEmail.CC'>
                              </mat-form-field>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="card" style="padding-top: 0%; margin-top: 1%; margin-bottom: 1%; border: 0%">
                        <div class="card-header card-header-success card-header-icon">
                          <h4 class="card-title">Títulos</h4>
                        </div>
                        <div style="padding: 1%">
                          <form *ngIf="myEmail">
                            <div class="row">
                              <div class="col-sm-12">
                                <mat-form-field class="example-full-width">
                                  <input type="text" matInput placeholder="Para (Nombre)" value="" name="toName" [(ngModel)]='myEmail.toName'>
                                </mat-form-field>
                              </div>
                              <div class="col-sm-12">
                                <mat-form-field class="example-full-width">
                                  <input type="text" matInput placeholder="De (Nombre)" value="" name="name" [(ngModel)]='myEmail.name'>
                                </mat-form-field>
                              </div>
                              <div class="col-sm-12">
                                <mat-form-field class="example-full-width">
                                  <input type="text" matInput placeholder="Asunto" value="" name="subject" [(ngModel)]='myEmail.subject'>
                                </mat-form-field>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card" style="padding-top: 0%; margin-top: 1%; margin-bottom: 1%; border: 0%">
                    <div class="card-header card-header-success card-header-icon">
                      <h4 class="card-title">Saludo</h4>
                      <mat-form-field class="example-full-width">
                        <textarea rows="3" matInput placeholder="Saludo" name="saludo" [(ngModel)]='sayHello'></textarea>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="card" style="padding-top: 0%; margin-top: 1%; margin-bottom: 1%; border: 0%">
                    <div class="card-header card-header-success card-header-icon">
                      <h4 class="card-title">Cuerpo</h4>
                      <mat-form-field class="example-full-width">
                        <textarea rows="10" matInput placeholder="Descripción" name="cuerpo" [(ngModel)]='myEmail.body' disabled></textarea>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="card" style="padding-top: 0%; margin-top: 1%; margin-bottom: 1%; border: 0%">
                    <div class="card-header card-header-success card-header-icon">
                      <h4 class="card-title">Pie de página</h4>
                      <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Descripción" [(ngModel)]='footer'></textarea>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>