table {
    width: 100%;
}
.mat-column-ciudad {
    flex: 0 0 25%;
    padding-left: 3%;
}
.mat-column-yearsOld {
    flex: 0 0 7%;
    padding-left: 3%;
}
.mat-column-profesion {
    flex: 0 0 25%;
    padding-left: 3%;
}

