table {
    width: 100%;
}
.mat-column-name {
    flex: 0 0 25%;
    padding-left: 3%;
}
.mat-column-ciudad {
    flex: 0 0 12%;
    padding-left: 0%;
    padding-right: 0%;
}

.mat-column-g {
    flex: 0 0 12%;
    padding-left: 0%;
    padding-right: 0%;
}
.mat-column-interestArea {
    flex: 0 0 20%;
    padding-left: 0%;
    padding-right: 0%;
}
.mat-column-yearsOld {
    flex: 0 0 7%;
    padding-left: 0%;
    padding-right: 0%;
}
.mat-column-profesion {
    flex: 0 0 22%;
    padding-left: 0%;
    padding-right: 0%;
}

.mat-column-status {
    flex: 0 0 10%;
    padding-left: 0%;
    padding-right: 0%;
}

.crx-button-primary{
    background-color: #e53935;
    color: white;
}

