.mat-column-ID {
    flex: 0 0 5%;
}
.mat-column-name {
    flex: 0 0 30%;
}
.mat-column-profesion {
    flex: 0 0 15%;
}
.mat-column-identity {
    flex: 0 0 15%;
}
.mat-column-status {
    flex: 0 0 10%;
}
.button-color{
    color: #F1555E;
}
.crx-button-primary{
    background-color: #e53935;
    color: white;
}
