<div class="main-content">
    <div class="container-fluid">
        <div class="col-md-12">
            <button mat-button class="crx-button-primary" (click)="createContact()">
                <i class="material-icons crx-button-primary">add</i>
            </button>
            <div class="card">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">contacts</i>
                    </div>
                    <h4 class="card-title">Contactos</h4>
                    <!-- ; position: relative; float: right; -->
                    <mat-form-field style="color: black; width: 35%">
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Busqueda..">
                    </mat-form-field>
                </div>
                <div class="card-content">
                    <div class="content table-responsive">
                        <mat-table #table [dataSource]="dataSource">
                            <!-- Nombre Column -->
                            <ng-container matColumnDef="ID">
                                <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.ID}} </mat-cell>
                            </ng-container>

                            <!-- Telefono Column -->
                            <ng-container matColumnDef="name">
                                <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.firstName}} {{element.lastName}} </mat-cell>
                            </ng-container>

                            <!-- Celular Column -->
                            <ng-container matColumnDef="identity">
                                <mat-header-cell *matHeaderCellDef> Identidad </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.identity}} </mat-cell>
                            </ng-container>

                            <!-- Email Column -->
                            <ng-container matColumnDef="profesion">
                                <mat-header-cell *matHeaderCellDef> Profesión </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.profession}} </mat-cell>
                            </ng-container>

                            <!-- Email Column -->
                            <ng-container matColumnDef="status">
                                <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <div *ngIf="element.status == 0">
                                        <mat-chip-list>
                                            <mat-chip style="background-color:rgb(211, 252, 129); color: black">{{element.status_name}}</mat-chip>
                                        </mat-chip-list>
                                    </div>
                                    <div *ngIf="element.status == 1">
                                        <mat-chip-list>
                                            <mat-chip style="background-color:rgb(252, 102, 102); color: white">{{element.status_name}}</mat-chip>
                                        </mat-chip-list>
                                    </div>
                                    <div *ngIf="element.status == 2">
                                        <mat-chip-list>
                                            <mat-chip style="background-color:rgb(123, 84, 167); color: white">{{element.status_name}}</mat-chip>
                                        </mat-chip-list>
                                    </div>
                                </mat-cell>
                            </ng-container>

                            <!-- Botones de Editar -->
                            <ng-container matColumnDef="editar">
                                <mat-header-cell *matHeaderCellDef>Editar</mat-header-cell>
                                <mat-cell *matCellDef="let pro">
                                    <!-- Paid button -->
                                    <button mat-icon-button style="color: rgb(25, 158, 25)" (click)="prePayUser(pro)" *ngIf="pro.paid == 0 && membership == 1">
                                        <mat-icon aria-label="Example icon-button with a heart icon">attach_money</mat-icon>
                                    </button>
                                    <!-- Status button -->
                                    <button mat-icon-button style="color: #F1555E" (click)="preActiveUser(pro)" *ngIf="pro.status == 0">
                                        <mat-icon aria-label="Example icon-button with a heart icon">done</mat-icon>
                                    </button>
                                    <!-- Editar button -->
                                    <button mat-icon-button color="primary" (click)="editContact(pro)">
                                        <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
                                    </button>
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        </mat-table>
                        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
                        </mat-paginator>
                        <!-- <table class="table">
                <thead class="text-primary">
                  <tr>
                    <th>Nombre</th>
                    <th>Telefono</th>
                    <th>Celular</th>
                    <th>Email</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let a of contactos">
                    <td>{{a.nombre}}</td>
                    <td>{{a.telefono_primario}}</td>
                    <td>{{a.celular}}</td>
                    <td>{{a.email_personal}}</td>
                    <td>
                      <button mat-button color="accent" class="pull-right" (click)="editarContacto(a.id)">
                        <i class="material-icons">mode_edit</i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>