.mat-column-ID {
    flex: 0 0 5%;
}
.mat-column-name {
    flex: 0 0 30%;
}
.mat-column-profesion {
    flex: 0 0 15%;
}
.mat-column-identity {
    flex: 0 0 15%;
}
.mat-column-status {
    flex: 0 0 8%;
}
.button-color{
    color: #F1555E;
}
